<div class="najd-product-mini">
  <a href="{{ product.url }}">
    <img src="{{ product.image }}" alt="{{ product.name }}" loading="lazy">
    <span>{{ product.name }}</span>
    <strong>{{ product.price|money }}</strong>
  </a>
</div>
