{% extends "layouts/master.twig" %}
{% block content %}
<article class="najd-blog-single">
  <div class="najd-container najd-blog-single__inner">
    <salla-breadcrumb></salla-breadcrumb>
    <h1>{{ article.title }}</h1>
    <div class="najd-blog-single__meta"><small>{{ article.date|date('d M Y') }} · {{ article.author }}</small></div>
    {% if article.image %}<img src="{{ article.image }}" alt="{{ article.title }}">{% endif %}
    <div class="najd-blog-single__content">{{ article.content|raw }}</div>
    {% include 'components/comments.twig' with {type:'blog', entity_id: article.id} %}
  </div>
</article>
{% endblock %}
